<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page Introuvable:erreur404</title>
    <link rel="stylesheet" href="../static/css/deco.css">
</head>
<body>
    <div class="page-erreur">
      <img src="../static/images/erreur404.png" alt="imageErreur404">


      <div class="page-erreur-contenu">
     <h1>Oh non !</h1>
     <p>Nous avons perdu la page que vous cherchez. C'est comme essayer de trouver un trésor dans le désert.</p>
     <p>Mais ne vous inquiétez pas, nous avons toujours une solution pour vous. Vous pouvez :</p>

      <ul class="page-erreur-solution">
                <li>Vérifier à nouveau l'URL pour vous assurer qu'il n'y a pas de faute de frappe.</li>
                <li>Contactez l'administrateur du site si vous pensez qu'il s'agit d'un problème technique.</li>
      </ul>
       </div>
    </div>
</body>
</html>

